body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;        
}
.nav_class{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: #00C6CF;
    position: fixed;
    height: auto;
    width: 100%;
}
a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
    color: black;
}
a:hover{
    border-bottom: 1px solid black;
}
.links{
    display: flex;
}
#nav_class_Phone{
    display: none;
}
#home, #about, #skills, #contact{
    width: 100%;
    height: 100vh;
}
#home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#about, #skills, #contact{
    padding-top: 100px;
}
#about_title{
    padding: 5px 0 5px 5px;
    border: solid black;
    border-width: 0 0 2px 0;
    width: 300px;
}
.about_info{
    box-shadow: 0 0 10px rgba(0,0,0,1.0);
    border: solid 1px;
    margin: 5px 10px 5px 10px;
    border-radius: 25px;
}
.education_place{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.education_box{
    box-shadow: 0 0 10px rgba(0,0,0,1.0);
    border: solid 1px;
    border-radius: 25px;
    padding: 5px;

}
.skills_class img{
    width: 200px;
    height: 200px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.skills_class{
    border: solid 1px;
    box-shadow: 0 0 10px rgba(0,0,0,10.0);
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
}
.contact_items{
    height: 100px;
    width: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,1.0);
    border: solid 1px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.contact_class{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 50px;
}
.footer{
    margin-top: 200px;
}
.My_Skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    width: 200px;
    border: solid black;
    border-width: 0 0 2px 0;
    margin-left: 3px;
}
.links_sideBar{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: lightcoral;
    display: none;
    backdrop-filter: blur(10px);
    
}
.contact_link{
    text-decoration: none;
}
.contact_link:hover{
    border-bottom-style: none;
}


    
@media (max-width:600px){
    #home, #about, #skills, #contact{
        height: auto;
    }
    #home{
        flex-direction: column;
    }
    .education_place{
        flex-direction: column;
    }
    #nav_class_Phone{
        display: block;
        padding-left: 5px;
    }
    .nav_class{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #00C6CF;
    }
    
    .links{
        display: none;
    }
    .skills_class img{
        width: 100px;
        height: 100px;
    }
    #info1, #info2{
        font-size: 20px;
    }
    .education_box{
        width: 90%;
        max-width: 450px;
        margin-bottom: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 10px;
        box-sizing: border-box;
        
    }
    .home_img img{
        width: 350px;
        height: 350px;
    }
    .home_img{
        margin-top: 15px;
    }
    .title{
        width: 150px;
    }
    a{
        margin-bottom: 30px;

    }
    #cancel{
        text-decoration: none;
        margin-bottom: 50px;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 25px;
        
    }
    
    .footer{
       margin-top: 100px;
    }
    .contact_items{
        font-size: 15px;
    }
    .contact_class{
        height: auto;
        width: auto;
    }
    .education{
        width: 100%;

    }
 /* .links_sideBar{
        display: none;
    } */

    
}
